Node-RED sample flow/Oolite dashboard.json
[
    {
        "id": "cabe2fdc.098bd",
        "type": "tab",
        "label": "Oolite",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c877996b.1505b8",
        "type": "ui_gauge",
        "z": "cabe2fdc.098bd",
        "name": "",
        "group": "391f6907.d49e66",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Speed",
        "label": "units",
        "format": "{{msg.payload.speed | number:0}}",
        "min": 0,
        "max": "350",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "85",
        "seg2": "280",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "3e77ac15.7f9284",
        "type": "mqtt in",
        "z": "cabe2fdc.098bd",
        "name": "",
        "topic": "oolite/comms",
        "qos": "2",
        "datatype": "auto",
        "broker": "5b635b6e.570cc4",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "ca9c84b6.d40588"
            ]
        ]
    },
    {
        "id": "ca9c84b6.d40588",
        "type": "function",
        "z": "cabe2fdc.098bd",
        "name": "Convert payload to object",
        "func": "msg.payload = JSON.parse(msg.payload);\nif (msg.payload.message == \"\") {\n    flow.set(\"commsMessages\", \"\");\n}\nelse {\n    flow.set(\"commsMessages\", flow.get(\"commsMessages\") + \"<br>\" + msg.payload.sender + \":<br>\" + msg.payload.message);\n}\nmsg.payload = flow.get(\"commsMessages\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"commsMessages\", \"\");",
        "finalize": "",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "7b777391.0a341c"
            ]
        ]
    },
    {
        "id": "7b777391.0a341c",
        "type": "ui_text",
        "z": "cabe2fdc.098bd",
        "group": "391f6907.d49e66",
        "order": 1,
        "width": "6",
        "height": "10",
        "name": "",
        "label": "Comms Messages",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "440e0a18.749884",
        "type": "mqtt in",
        "z": "cabe2fdc.098bd",
        "name": "",
        "topic": "oolite/controls",
        "qos": "2",
        "datatype": "auto",
        "broker": "5b635b6e.570cc4",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "f2c780fe.52e0b"
            ]
        ]
    },
    {
        "id": "f2c780fe.52e0b",
        "type": "function",
        "z": "cabe2fdc.098bd",
        "name": "Convert payload to object",
        "func": "msg.payload = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "c877996b.1505b8"
            ]
        ]
    },
    {
        "id": "6da91185.12828",
        "type": "mqtt in",
        "z": "cabe2fdc.098bd",
        "name": "",
        "topic": "oolite/alert",
        "qos": "2",
        "datatype": "auto",
        "broker": "5b635b6e.570cc4",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "d50e2622.d0a8b8"
            ]
        ]
    },
    {
        "id": "d50e2622.d0a8b8",
        "type": "function",
        "z": "cabe2fdc.098bd",
        "name": "Convert payload to object",
        "func": "message = JSON.parse(msg.payload);\nswitch (message.alertCondition) {\n    case 0:\n        msg.payload = \"white\";\n        break;\n    case 1:\n        msg.payload = \"green\";\n        break;\n    case 2:\n        msg.payload = \"yellow\";\n        break;\n    case 3:\n        msg.payload = \"red\";\n        break;\n    default:\n        msg.payload = \"error\";\n        break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 600,
        "wires": [
            [
                "547d55f7.135b1c"
            ]
        ]
    },
    {
        "id": "547d55f7.135b1c",
        "type": "ui_template",
        "z": "cabe2fdc.098bd",
        "group": "391f6907.d49e66",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\" style=\"background-color: {{msg.payload}};\">\n  Alert Condition: {{msg.payload}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 670,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "391f6907.d49e66",
        "type": "ui_group",
        "name": "Oolite Dashboard",
        "tab": "70013282.415fcc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5b635b6e.570cc4",
        "type": "mqtt-broker",
        "name": "Raspberry Pi Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "70013282.415fcc",
        "type": "ui_tab",
        "name": "Oolite",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]